include README.rst
recursive-include python *.py.template *.ipynb *.INI
recursive-include python/GangaRelease ReleaseNotes*
recursive-include python/GangaDoc *
recursive-include python/GangaTemplates *.INI
