include README.rst
recursive-include ganga/GangaRelease/tools ganga-cvmfs-install.sh ganga-cvmfs-install-dev.sh check-new-ganga.py
recursive-include ganga *.py.template *.ipynb *.INI *.ini
recursive-include ganga/GangaRelease ReleaseNotes*
recursive-include ganga/GangaGUI/gui *.html *.css *.js
recursive-include doc *
recursive-include doc/_static *.svg
