<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom Style Sheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <!-- Title -->
    <title>{{ title + ' - Ganga GUI' if title else 'Ganga GUI' }}</title>

    <!-- Head Block -->
    {% block head %}{% endblock head %}
</head>
<body>
<div class="d-flex flex-column min-vh-100 overflow-hidden">
    <!-- Navbar -->
    <div class="mb-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a class="navbar-brand text-uppercase" href="#"><b>GANGA</b><small class="text-muted pl-1">GRAPHICAL
                USER INTERFACE</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{ 'active' if request.path == url_for('dashboard') }}">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == url_for('create_page') }}">
                        <a class="nav-link" href="{{ url_for('create_page') }}">Create</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == url_for('jobs_page') }}">
                        <a class="nav-link" href="{{ url_for('jobs_page') }}">Jobs</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == url_for('credentials_page') }}">
                        <a class="nav-link" href="{{ url_for('credentials_page') }}">Credentials</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == url_for('plugins_page') }}">
                        <a class="nav-link" href="{{ url_for('plugins_page') }}">Plugins</a>
                    </li>
                    <li class="nav-item {{ 'active' if request.path == url_for('config_page') }}">
                        <a class="nav-link" href="{{ url_for('config_page') }}">Config</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link btn-cli {{ 'd-none' if session['WEB_CLI'] == False }}">CLI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://ganga.readthedocs.io">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('shutdown') }}">Shutdown</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Flashed Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} btn-block" style="border-radius: 0" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <!-- Content Block -->
    <div class="flex-grow-1 position-relative">
        {% block content %}{% endblock content %}
    </div>

    <!-- Footer -->
    <nav class="mt-5 pb-4 pb-md-0 navbar navbar-light bg-light border-top d-flex flex-column flex-md-row justify-content-between align-items-md-center align-items-stretch position-relative">
        <div class="flex-shrink-0">
            <div class="form-group col-12 col-md mt-2">
                <label for="refresh-interval" class="small text-muted">Refresh:</label>
                <select id="refresh-interval" class="custom-select">
                    <option value="1000">1</option>
                    <option value="2000">2</option>
                    <option value="5000" selected>5</option>
                    <option value="10000">10</option>
                    <option value="30000">30</option>
                    <option value="60000">60</option>
                    <option value="120000">120</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center">
            <a href="{{ url_for('logs_page') }}" class="btn btn-link my-1 p-0 m-md-0 ml-md-3">Logs</a>
            <a href="{{ url_for('runfile_page') }}" class="btn btn-link my-1 p-0 m-md-0 ml-md-3">Quick Run</a>
            <a href="{{ url_for('storage_page') }}" class="btn btn-link my-1 p-0 m-md-0 ml-md-3">Storage Pod</a>
            <p class="text-dark my-1 p-0 m-d-0 ml-md-3">{{ current_user.user }} (<a href="#" id="btn-logout" class="">Logout</a>)
            </p>
        </div>

        {# Web CLI Container #}
        <div id="cli-container"
             style="display: none; position: fixed; bottom: 0; left: 0; height: 50vh; width: 100%; z-index: 50; box-shadow: 0 -2px 6px rgba(0,0,0,0.30);"
             class="rounded-top overflow-hidden">
            <div class="d-flex justify-content-end align-items-center mt-2 px-2" style="position: absolute; top: 0; right:0;">
                <a href="{{ url_for('serve_cli') if session['WEB_CLI'] == True }}" target="_blank"
                  class="btn btn-primary btn-sm text-white" style="cursor: pointer">Open in New Tab</a>
                <a class="btn btn-danger btn-sm text-white btn-cli ml-2" style="cursor: pointer">Hide</a>
            </div>
            <iframe src="{{ url_for('serve_cli') if session['WEB_CLI'] == True }}" id="cli-iframe" title="Web CLI" style="width: 100%; height: 100%; border: none;"></iframe>
        </div>
    </nav>

</div>

{#  Toasts Container #}
<div style="position: fixed; bottom: 1rem; right: 1rem; overflow: scroll; max-height: 90vh;" id="toast-container"></div>


{# JavaScript files #}
<script defer src="{{ url_for('static', filename='js/main.js') }}"></script>

{# JS file specific to web cli mode#}
<script defer src="{{ url_for('static', filename='js/slidecli.js') if session['WEB_CLI'] == True else '#' }}"></script>

{% block footer %}{% endblock footer %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>