{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid px-md-5">
        {# Quick Statistics Section #}
        <h3 class="">Quick Statistics</h3>
        <div class="row">
            <div class="col-lg">
                {# Statistics Card - New #}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">NEW</h5>
                        <hr class="my-1">
                        <h2 class="text-center mb-n2" id="stat-new">{{ quick_statistics.get('new') }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                {# Statistics Card - Running #}
                <div class="card mx-auto my-2 my-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-center">RUNNING</h5>
                        <hr class="my-1">
                        <h2 class="text-center mb-n2" id="stat-running">{{ quick_statistics.get('running') }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                {# Statistics Card - Completed #}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">COMPLETED</h5>
                        <hr class="my-1">
                        <h2 class="text-center mb-n2" id="stat-completed">{{ quick_statistics.get('completed') }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                {# Statistics Card - Failed #}
                <div class="card mx-auto my-2 my-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-center">FAILED</h5>
                        <hr class="my-1">
                        <h2 class="text-center mb-n2" id="stat-failed">{{ quick_statistics.get('failed') }}</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                {# Statistics Card - Killed #}
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center">KILLED</h5>
                        <hr class="my-1">
                        <h2 class="text-center mb-n2" id="stat-killed">{{ quick_statistics.get('killed') }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            {# Recent Jobs Section #}
            <div class="col-md-6">
                <h3>Recent Jobs</h3>
                <div class="accordion" id="recentjobs">
                    <div class="list-group">
                        {% for j in recent_jobs_info|reverse %}
                            <a href="#" id="job-id-{{ j.id }}"
                               class="recent-job list-group-item d-flex justify-content-between font-weight-medium align-items-center list-group-item-action {{ 'rounded-bottom' if loop.last  }}"
                               data-id="{{ j.id }}" data-status="{{ j.status }}" data-toggle="collapse"
                               data-target="#collapse-job-id-{{ j.id }}" aria-expanded="true"
                               aria-controls="collapse-job-id-{{ j.id }}">
                                {{ j.id + '. ' + j.name if j.name.strip() != '' else j.id + '. '+ 'Unnamed Job' }}
                                <span  id="job-id-{{ j.id }}-status" class="badge badge-{{ status_color[j.status] }} badge-pill">{{ j['status'] }}</span>
                            </a>
                            <div id="collapse-job-id-{{ j.id }}" class="collapse border-left border-right {{ 'border-bottom rounded-bottom' if loop.last }}"
                                 aria-labelledby="headingOne"
                                 data-parent="#recentjobs">
                                <div class="card-body">
                                    <p class="m-0 p-0">fqid: {{ j['fqid'] }}</p>
                                    <p class="m-0 p-0">subjobs: {{ j['subjobs'] }}</p>
                                    <p class="m-0 p-0">application: {{ (j.application|string).split('(')[0] }}</p>
                                    <p class="m-0 p-0">backend: {{ (j.backend|string).split('(')[0] }}</p>
                                    <p class="m-0 p-0">backend.actualCE: {{ j['backend.actualCE'] }}</p>
                                    <p class="m-0 p-0">comment: {{ j['comment'] }}</p>
                                    <p class="m-0 p-0">subjobs statuses: {{ j['subjob_statuses'] }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 mt-md-0 d-flex flex-column">
                <h3>Job Chart</h3>
                <div class="card mx-auto flex-grow-1 w-100">
                    <div class="card-body d-flex justify-content-center">
                        <canvas id="statChart" class="m-auto"></canvas>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <script defer src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock footer %}