{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid px-md-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card" id="jobInfo" data-job_id="{{ job_info.id }}">
                    <div class="card-body">
                        <h5 class="d-flex align-items-center">
                            {{ job_info.name if job_info.name.strip() != '' else 'Unnamed Job' }}
                            <small>
                                <span id="job-id-{{job_info.id}}-status" class="badge badge-{{ status_color[job_info.status] }} badge-pill ml-2">{{ job_info.status }}</span>
                            </small>
                        </h5>
                        <hr class="my-2">
                        <p class="m-0 p-0">fqid: {{ job_info.fqid }}</p>
                        <p class="m-0 p-0">subjobs: {{ job_info.subjobs }}</p>
                        <p class="m-0 p-0">application: {{ (job_info.application).split('(')[0] }}</p>
                        <p class="m-0 p-0">backend: {{ (job_info.backend).split('(')[0] }}</p>
                        <p class="m-0 p-0">backend.actualCE: {{ job_info['backend.actualCE'] }}</p>
                        <p class="m-0 p-0">comment: {{ job_info.comment }}</p>
                        <p class="m-0 p-0">subjobs statuses: {{ job_info.subjob_statuses }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex my-2">
                    <a href="#" class="btn btn-info mr-1 w-100" data-toggle="modal" data-target="#stdoutModal">Peek
                        (stdout)</a>
                    <a href="#" class="btn btn-info ml-1 w-100" data-toggle="modal" data-target="#stderrModal">Peek
                        (stderr)</a>
                </div>
                <div class="d-flex my-2">
                    <a href="#" class="btn btn-warning mr-1 w-100">Kill
                        Job</a>
                    <a href="#" class="btn btn-danger ml-1 w-100">Remove
                        Job</a>
                </div>
                <div class="d-flex my-2">
                    <a href="#" class="btn btn-dark w-100" data-toggle="modal" data-target="#jobInfoModal">Job Info</a>
                    <a href="{{ url_for('edit_job', job_id=job_info.id) }}" class="btn btn-dark mx-2 w-100">Edit
                        Job</a>
                    <a href="{{ url_for('export_job', job_id=job_info.id) }}" class="btn btn-dark w-100">Download</a>
                </div>
                <a href="{{ url_for('browse_job', job_id=job_info.id) }}" class="btn btn-block btn-primary">Browse Files</a>
            </div>
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-md-6 mb-3 d-flex flex-column">
                        <h3>Job Attributes</h3>
                        <div class="card flex-grow-1">
                            <div class="card-body pb-1">
                                <form>
                                    <div class="form-group">
                                        <label for="attributeSelect">Select Attribute</label>
                                        <select onchange="handleOnSelectAttribute()" class="custom-select"
                                                id="attributeSelect">
                                            {% for attr in attrs %}
                                                <option>{{ attr }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                                <hr class="my-1">
                                <pre id="attributeInfoBox" class="pt-3"></pre>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <h3>Job Actions</h3>
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <div class="form-group">
                                        <label for="actionSelect">Select Action</label>
                                        <select class="custom-select" id="actionSelect">
                                            <optgroup label="Methods">
                                                {% for action in method_actions %}
                                                    <option>{{ action }}</option>
                                                {% endfor %}
                                            </optgroup>
                                            <optgroup label="Attributes">
                                                {% for action in attrs %}
                                                    <option>{{ action }}</option>
                                                {% endfor %}
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="actionArgument">Arguments (if any)</label>
                                        <input id="actionData" type="text" class="form-control" id="actionArgument">
                                    </div>
                                    <button onclick="handleExecuteAction()" class="btn btn-primary btn-block">Execute
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 d-flex align-items-center justify-content-between">
                            <h3 class="my-0 d-inline-block">Subjobs</h3><a href="{{ url_for("subjobs_page", job_id=job_info.id) }}">Explore All Subjobs</a>
                        </div>
                        <div class="row">
                            <div class="col-lg">
                                {# Statistics Card - New #}
                                <div class="card mx-auto">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">NEW</h5>
                                        <hr class="my-1">
                                        <h2 class="text-center mb-n2" id="stat-new">{{ subjobs_stats.get('new') }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                {# Statistics Card - Running #}
                                <div class="card mx-auto my-2 my-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">RUNNING</h5>
                                        <hr class="my-1">
                                        <h2 class="text-center mb-n2"
                                            id="stat-running">{{ subjobs_stats.get('running') }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                {# Statistics Card - Completed #}
                                <div class="card mx-auto">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">COMPLETED</h5>
                                        <hr class="my-1">
                                        <h2 class="text-center mb-n2"
                                            id="stat-completed">{{ subjobs_stats.get('completed') }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                {# Statistics Card - Failed #}
                                <div class="card mx-auto my-2 my-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">FAILED</h5>
                                        <hr class="my-1">
                                        <h2 class="text-center mb-n2"
                                            id="stat-failed">{{ subjobs_stats.get('failed') }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg">
                                {# Statistics Card - Killed #}
                                <div class="card mx-auto">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">KILLED</h5>
                                        <hr class="my-1">
                                        <h2 class="text-center mb-n2"
                                            id="stat-killed">{{ subjobs_stats.get('killed') }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Info Modal -->
    <div class="modal fade" id="jobInfoModal" tabindex="-1" role="dialog" aria-labelledby="jobInfoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobInfoModalLabel">Job #{{ job_info.id }} Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>{{ full_job_info if full_job_info != None }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- stdout Modal -->
    <div class="modal fade" id="stdoutModal" tabindex="-1" role="dialog" aria-labelledby="stdoutModal2Label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stdoutModalLabel">Job #{{ job_info.id }} stdout {{ " - File does not exist" if stdout == None }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ stdout if stdout != None }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- stderr Modal -->
    <div class="modal fade" id="stderrModal" tabindex="-1" role="dialog" aria-labelledby="stderrModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stderrModalLabel">Job #{{ job_info.id }} stderr {{ " - File does not exist" if stderr == None }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ stderr if stderr != None }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <script defer src="{{ url_for('static', filename='js/job.js') }}"></script>
{% endblock footer %}