{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid px-md-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card" id="subjobInfo" data-job_id="{{ job_id }}" data-subjob_id="{{ subjob_info.id }}">
                    <div class="card-body">
                        <h5 class="d-flex align-items-center">
                            {{ subjob_info.name if subjob_info.name.strip() != '' else 'Unnamed Subjob' }}
                            <small>
                                <span id="subjob-id-{{subjob_info.id}}-status" class="badge badge-{{ status_color[subjob_info.status] }} badge-pill ml-2">{{ subjob_info.status }}</span>
                            </small>
                        </h5>
                        <hr class="my-2">
                        <p class="m-0 p-0">fqid: {{ subjob_info.fqid }}</p>
                        <p class="m-0 p-0">application: {{ (subjob_info.application).split('(')[0] }}</p>
                        <p class="m-0 p-0">backend: {{ (subjob_info.backend).split('(')[0] }}</p>
                        <p class="m-0 p-0">backend.actualCE: {{ subjob_info['backend.actualCE'] }}</p>
                        <p class="m-0 p-0">comment: {{ subjob_info.comment }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex my-2">
                    <a href="#" class="btn btn-info mr-1 w-100" data-toggle="modal" data-target="#stdoutModal">Peek
                        (stdout)</a>
                    <a href="#" class="btn btn-info ml-1 w-100" data-toggle="modal" data-target="#stderrModal">Peek
                        (stderr)</a>
                </div>
                <div class="d-flex my-2">
                    <a href="#" class="btn btn-dark w-100" data-toggle="modal" data-target="#jobInfoModal">Job Info</a>
                </div>
                <a href="{{ url_for('browse_subjob', job_id=job_id, subjob_id=subjob_info.id) }}" class="btn btn-block btn-primary">Browse Files</a>
            </div>
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col mb-3 d-flex flex-column">
                        <h3>Job Attributes</h3>
                        <div class="card flex-grow-1">
                            <div class="card-body pb-1">
                                <form>
                                    <div class="form-group">
                                        <label for="attributeSelect">Select Attribute</label>
                                        <select onchange="handleOnSelectAttribute()" class="custom-select"
                                                id="attributeSelect">
                                            {% for attr in attrs %}
                                                <option>{{ attr }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                                <hr class="my-1">
                                <pre id="attributeInfoBox" class="pt-3"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subjob Info Modal -->
    <div class="modal fade" id="jobInfoModal" tabindex="-1" role="dialog" aria-labelledby="jobInfoModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobInfoModalLabel">Job #{{ subjob_info.id }} Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre>{{ full_subjob_info if full_subjob_info != None }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- stdout Modal -->
    <div class="modal fade" id="stdoutModal" tabindex="-1" role="dialog" aria-labelledby="stdoutModal2Label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stdoutModalLabel">Job #{{ subjob_info.id }} stdout {{ " - File does not exist" if stdout == None }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ stdout if stdout != None }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- stderr Modal -->
    <div class="modal fade" id="stderrModal" tabindex="-1" role="dialog" aria-labelledby="stderrModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stderrModalLabel">Job #{{ subjob_info.id }} stderr {{ " - File does not exist" if stderr == None }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ stderr if stderr != None }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <script defer src="{{ url_for('static', filename='js/subjob.js') }}"></script>
{% endblock footer %}