/* User List styles */
.srchField_div { background-color:#eeeeee; border:1px #888888 solid; 
    -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; 
    -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; 
    -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; 
    -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; 
}

.srchField_div form { margin:5px; }

#users_0 { list-style-type: none; padding-left:10px; }
#users_0 li { border-bottom:1px gray solid; width:300px; padding:3px; font-size:9pt; font-weight:bold; color:gray; cursor:pointer; }


table { border:0px }

.alignRight { text-align:right; }

.numericTD { text-align:center; }
.display a { color:#3383BB; text-decoration:none; font-weight:bold; }
a.noJobsClick, a.noPendClick, a.noRunnClick, a.noSuccClick, a.noFailClick, a.noUnknClick { font-size:10pt; }
.display a:hover { text-decoration:underline; }

a { cursor:pointer; color:#3383BB; }
#breadcrumbs .bold { font-weight: bold; }

/* Pagination style */
.dataTable_paginate { }
.dataTable_paginate input { font-size:8pt; border:1px #AAAAAA solid; text-align:center; font-weight:bold; }

.paginate_button { font-size:9pt; font-weight:bold; color:#27415f; margin:2px; background-color:#ccd8e5; padding:3px; border:1px #8da7c3 solid; cursor:pointer; 
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; 
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; 
    -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; 
    -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; 
}
.paginate_button:hover { background-color:#e4ebf3; }
.paginate_page, .paginate_of { font-size:9pt; }

.orKEYS { font-weight:bold; text-align:right; color:#1e4a68; }
.orVALS {}

.wrapColumn { width:350px; white-space: nowrap; overflow:hidden; }

.status { width:100%; color:#ffffff; font-weight:bold; text-align:center }
.Submitted { border:1px #1e4a68 solid; background-color:#FF9900; }
.Finished { border:1px #1e4a68 solid; background-color:#59D118; }
.Failed { border:1px #1e4a68 solid; background-color:#C50000; }
.Running { border:1px #1e4a68 solid; background-color:#3072F3; }
.Unknown { border:1px #1e4a68 solid; background-color:#C2BDDD; }

.NotCompleted { border:1px #1e4a68 solid; background-color:#BB72F3; }
.Completed { #1e4a68 solid; color:#006500; }
.Pending { #1e4a68 solid; background-color:#FF9900; }

.chartImg { margin:15px; vertical-align:top; }
.chartTd { width:50%; text-align:center; vertical-align:middle; }

/* Table header 
#dataTable_0 thead th { border-bottom:1px black solid; border-top:1px black solid; }



