/* User List styles */
.srchField_div { background-color:#eeeeee; border:1px #888888 solid; 
    -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; 
    -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; 
    -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; 
    -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; 
}

.srchField_div form { margin:5px; }

#users_0 { list-style-type: none; padding-left:10px; }
#users_0 li { border-bottom:1px gray solid; width:300px; padding:3px; font-size:9pt; font-weight:bold; color:gray; cursor:pointer; }


table { border:0px }

.alignRight { text-align:right; }

.numericTD { text-align:right; }
.display a { color:#3383BB; text-decoration:none; font-weight:bold; }
a.noJobsClick, a.noPendClick, a.noRunnClick, a.noSuccClick, a.noFailClick, a.noUnknClick { font-size:10pt; }
.display a:hover { text-decoration:underline; }

a { cursor:pointer; }
#breadcrumbs .bold { font-weight: bold; }

/* Pagination style */
#dataTable_paginate { width:400px; }
#dataTable_paginate input { font-size:8pt; border:1px #AAAAAA solid; text-align:center; font-weight:bold; }

.paginate_button { font-size:9pt; margin:2px; background-color:#DDDDDD; padding:3px; border:1px #AAAAAA solid; cursor:pointer; }
.paginate_button:hover { background-color:#EEEEEE; }
.paginate_page, .paginate_of { font-size:9pt; }

.orKEYS { font-weight:bold; text-align:right; color:#1e4a68; }
.orVALS {}

.wrapColumn { width:350px; white-space: nowrap; overflow:hidden; }

.status { width:100%; font-weight:bold; text-align:center }


.New { border:1px #1e4a68 solid; background-color:cyan; color:black; }
.Submitting { border:1px #1e4a68 solid; background-color:white; color:gray; }
.Submitted { border:1px #1e4a68 solid; background-color:blue; color:white; }
.Running { border:1px #1e4a68 solid; background-color:green; color:black; }
.Completed,  Completing { border:1px #1e4a68 solid; background-color:darkGreen; color:white; }
.Killed { border:1px #1e4a68 solid; background-color:red; color:black; }
.Unknown { border:1px #1e4a68 solid; background-color:gray; color:black; }
.Incomplete { border:1px #1e4a68 solid; background-color:magenta; color:black; }
.Failed { border:1px #1e4a68 solid; background-color:red; color:yellow; }
