body { font-family:'Lucida Grande',Verdana,Arial,Helvetica,sans-serif; font-size:8pt; margin:0px; background-color:#ADD1EB }

#container { position:inherit; }
#header { position:relative; }
.tLabel_white { color:#ffffff; font-weight:bold; }
.tLabel_blue { color:#3383BB; font-weight:bold; }
#header a { color:#ffffff; font-weight:bold; text-decoration:none; }
#header a:hover { color:#cae0ef; }

#topBelt { width:100%; height:57px; background-color:#4B7797; background-image:url('../images/BG-menu.jpg'); border-bottom:0px #2C4558 solid; margin-bottom:0px; }
#breadcrumbs { border-bottom:1px #2C4558 solid; margin-bottom:15px; background-color:#eeeeee; }
#breadcrumbs a { color:#3383BB; font-weight:bold; }
#breadcrumbs a:hover { color:#5992bb; }

#logo { position:absolute; top:3px; left:3px; width:215px; height:49px; background-color:#ffffff; background-image:url(../images/logo.png); background-repeat:no-repeat; background-position:0px 0px; border:1px #ffffff/*#27415f*/ solid; }

#timeSelect { position:absolute; top:0px; left:460px; width:490px; height:50px; background-color:#ADD1EB; background-image: url(../images/BG-menu-timeselect.jpg); border:1px #27415f solid; border-top-width:0px; }
#timeSelect div.dlabel { position:absolute; top:0px; left:0px; border-bottom:1px #27415f solid; border-right:1px #27415f solid; padding-right:5px; padding-left:5px; background-color:#889db5; color:#ffffff; font-weight:bold; }
#timeSelect p { margin:0px; margin-top:18px; width:100%; text-align:center; }
#timeSelect input,select { width:95px; }

#userSelect { position:absolute; top:6px; left:225px; }
#userSelect select { width:170px; }

#ajaxAnimation { position:absolute; top:6px; left:960px; width:43px; height:39px; display:none; }

#supportHelp { position:absolute; top:5px; right:5px; text-align:right; border-right:0px #e1e1e1 solid; font-size:9pt; background-color:#7FA4BF;text-align:center; }

#contentWrapper { background-color:#FFFFFF; margin-left:15px; margin-right:15px; }

#siteTabs { margin-left:15px; margin-right:15px; padding-bottom:37px; }

#footer { position:relative; bottom:0px; left:0px; width:100%; height:40px; background-color:#4B7797; border-top:3px #2C4558 solid; margin:0px; margin-top:15px; }
#footerTxt { position:absolute; top:12px; right:15px; color:#ffffff; font-weight:bold; }


 
