body { margin: 0px;
       padding: 5px;
       color: #000000;
       background-color: white;
       font-size: 0.8em;
       line-height: 16px;
       font-family: Arial, Verdana, Geneva, sans-serif; }

a { color: #555072;
    text-decoration: none; }
a:hover   { color: #900000; 
            text-decoration: underline; }

h3.title { color: #ab7171; }
#header { padding: 5px;
          text-align: right; }

#main-left { float: left;
             width: 75%;
             text-align: justify; }

#main-right { float: right;
              width: 25%;
              text-align: right; }

#footer { text-align: right;
          color: #bbbbbb; }
